html{
    overflow-x: hidden;
    
}

.dot-dead::after{
    content: '';
    width: 7px;
    height: 7px;
    background-color: red;
    border-radius: 1rem;
    position: absolute;
    left: 111px;
    top: 65.2px;
}

.dot-alive::after{
    content: '';
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 1rem;
    position: absolute;
    left: 111px;
    top: 65.2px;
}

.image-shadow{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}